.h-font{
    font-family: 'Finger Paint';
}



.background {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./images/background1.png') no-repeat center center / cover;
    z-index: -1;
}

.background2 {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./images/background2.png') no-repeat center center / cover;
  z-index: -1;
}

.container {
    background-color: hsla(55, 85%, 48%, 0);
    padding: 40px;
    margin: 100px auto;
    border-radius: 25px;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Pacifico',cursive;
    font-size: 50px;
    color:rgb(234, 5, 62)
  }

.homepage {
    align-items: center;
    background-color: hsl(73, 91%, 49%);
    margin-left: 150px;
  }

  .title {
    text-align: center;
    font-family: 'Lobster';
    font-size: 35px;
    color:rgb(234, 5, 62)
  }

  .paragraph {
    font-size: 25px;
    font-family: Poppins;
    font-display: justify;
    color: #1e0bf1;
    font-style: bold;
  }

  .home {
    width: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .home-content {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .home-content h1 {
    font-size: 78px;
    font-weight: 700;
    color: #fff;
    background-color:#c40094;
    margin-top: 90px;
    margin-bottom: 40px;
    text-shadow: 0 0 10px rgba(236, 6, 144, 0.3);

  }

  .home-content .start-btn {
    width: 190px;
    height: 55px;
    background: #c40094;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #c40094;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  

 
